
.left-side{
    align-content: center;
    gap:3rem;
    padding-top:30px;
    overflow: scroll;
    
   

}






 .foryou{
    display: grid;
    grid-template-columns:1fr 1fr;
place-items: center stretch;


}

.foryou-icon{
    padding-left:200px;
} 

 .foryou-text{
    padding-right:20px;
    font-size:20px;
    font-weight: bold;
} 



.following{
    display: grid;
    grid-template-columns:1fr 1fr;
justify-items: center stretch ;
padding-top: 25px;

}

.following-icon{
    padding-left:200px;
} 

 .following-text{
    padding-right:120px;
    font-size:20px;
    font-weight: bold;
    
}  





.live{
    display: grid;
    grid-template-columns:1fr 1fr;
justify-items: center ;
padding-top: 20px;
border-bottom:2px solid #f1f1f2;


}

.live-icon{
    padding-left:185px;
} 

 .live-text{
    padding-right:180px;
    font-size:20px;
    font-weight: bold;
} 



.left-side-middle{
    padding-top:40px;
    padding-left:200px;
    padding-bottom: 15px;
}


.left-side-middle-button{
    padding-top:35px;
}

.left-side-middle-text{
    color:#cacacd;
}

.left-side-middle-button button{
padding:10px 100px 10px 100px;
font-weight: bold;
font-size:20px;
border-color: red;
color:red;
background-color: white;
}

.suggested-accounts{
    padding-left:200px;
    padding-top:15px;
    color:#707278;
}



.left-side-acc-ac{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding-left:79px;
    padding-top:10px;

}


.left-side-acc-ac img{
    border-radius: 50px;
}


.left-side-acc-names p{
    padding-top:5px;
    font-size: 15px;
    color:#b3b3b3;

}





.left-side-acc-ac2{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding-left:20px;
    padding-top:12px;

}


.left-side-acc-ac2 img{
    border-radius: 50px;
}


.left-side-acc-names2 p{
    padding-top:5px;
    font-size: 15px;
    color:#b3b3b3;

}






.left-side-acc-ac4{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding-left:30px;
    padding-top:12px;

}


.left-side-acc-ac4 img{
    border-radius: 50px;
}


.left-side-acc-names4 p{
    padding-top:5px;
    font-size: 15px;
    color:#b3b3b3;

}











.left-side-acc-ac5{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding-left:22px;
    padding-top:12px;

}


.left-side-acc-ac5 img{
    border-radius: 50px;
}


.left-side-acc-names5 p{
    padding-top:5px;
    font-size: 15px;
    color:#b3b3b3;

}



.see-all{
    color:red;
padding-left:190px;
padding-top:10px;
padding-bottom: 10px;
font-size:15px;
border-bottom:2px solid #f1f1f2;
}

.discover{
    padding-left:190px;
    padding-top:10px;
}