*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template:
    'header header header'70px
    'left-side main right-side'1fr/
    500px 1fr 340px;
}




.header{
    grid-area:header;
/* background-color: #ff00ff50; */
}


.left-side{
    grid-area:left-side;
    /* background-color:#0000ff50; */
}


.main{
    grid-area:main;
    /* background-color: #00ff0040; */
}


.right-side{
    grid-area:right-side;
    /* background-color: #ff000070; */
}



.taktak h2 a{
    text-decoration: none;
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




@media screen and (max-width:800px) {

     body{
      
         grid-template:
        'header header header'70px
        'left-side main '1fr/
        500px 1fr ; 
     }  
    
    .right-side{
        display:none;
    }
    
}